word/
logs/
plugins/AntiXRayData/PlayerData/
plugins/ChestCommands/.upgrades-done/
plugins/ChestCommands/old_files/
plugins/Essentials/userdata/
plugins/GriefPreventionData/ClaimData/
plugins/GriefPreventionData/PlayerData/
plugins/SkinsRestorer/Players/